extends _layout.pug

block locals
  - var title = 'Hello pug!';

block content
  h1 Hello Pug!!!
  img(src='../images/avatar-1577909_640.png')
  img(src='../images/tianshu-liu-SBK40fdKbAg-unsplash.jpg')
